<ul class="divide-y divide-gray-200">
  {% for project in user_projects %}
    <li class="py-4">
      <div class="flex flex-col justify-center items-center mb-4 space-y-2">
          <div class="flex-shrink-0">
            {% if project.icon %}
              <img class="object-cover w-auto h-10 rounded" src="{{ project.icon.url }}" alt="{{ project.name }} icon">
            {% else %}
              <div class="flex justify-center items-center w-10 h-10 bg-gray-300 rounded">
                <span class="font-bold text-gray-600">{{ project.name|first|upper }}</span>
              </div>
            {% endif %}
          </div>
          <p class="text-sm font-medium text-gray-900">{{ project.name }}</p>
          <div>
            <a href="{% url 'project-status-page' slug=project.slug %}" class="text-sm text-indigo-600 hover:text-indigo-800">View</a>
            |
            <a href="{% url 'project-settings' slug=project.slug %}" class="text-sm text-indigo-600 hover:text-indigo-800">Settings</a>
          </div>
      </div>

      <ul class="space-y-2">
        {% for service in project.services.all %}
          <li class="flex items-center">
            <div class="w-1/4">
              <p class="text-sm font-medium text-gray-900">{{ service.name }}</p>
            </div>
            <div class="flex overflow-hidden space-x-0.5 w-1/2">
              {% for status in service.status_summary %}
                <div class="w-1 h-4
                  {% if status == 'up' %}
                    bg-green-500
                  {% elif status == 'down' %}
                    bg-red-500
                  {% else %}
                    bg-gray-300
                  {% endif %}">
                </div>
              {% endfor %}
            </div>
            <div class="w-1/4 text-right">
              <span class="inline-flex px-2 text-xs font-semibold leading-5 {% if service.is_active %}text-green-800 bg-green-100{% else %}text-red-800 bg-red-100{% endif %} rounded-full">
                {% if service.is_active %}Active{% else %}Inactive{% endif %}
              </span>
            </div>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
