<div class="flex flex-row flex-wrap gap-4 justify-center">
  {% for project in user_projects %}
    <div class="p-4 rounded-lg border border-gray-200">
      <div class="flex flex-col justify-center items-center space-y-2">
          <div class="flex-shrink-0">
            {% if project.icon %}
              <img class="object-cover w-auto h-10 rounded" src="{{ project.icon.url }}" alt="{{ project.name }} icon">
            {% else %}
              <div class="flex justify-center items-center w-10 h-10 bg-gray-300 rounded">
                <span class="font-bold text-gray-600">{{ project.name|first|upper }}</span>
              </div>
            {% endif %}
          </div>
          <p class="text-sm font-medium text-gray-900">{{ project.name }}</p>
          <div>
            <a href="{% url 'project-status-page' slug=project.slug %}" class="text-sm text-indigo-600 hover:text-indigo-800">View</a>
            |
            <a href="{% url 'project-settings' slug=project.slug %}" class="text-sm text-indigo-600 hover:text-indigo-800">Settings</a>
          </div>
      </div>
    </div>
  {% endfor %}
</div>
